

.slide-1:hover {
  background-color: #0064b2;
}

.slide-2:hover {
  background-color: #0d5f9d;
}

.slide-3:hover {
  background-color: #e2252c;
}

.slide-4:hover {
  background-color: #abd2ef;
}

.slide-5:hover {
  background-color: #7cadd5;
}

.slide-6:hover {
  background-color: #625efb;
}

.slide-7:hover {
  background-color: #cf1b1a;
}

.slide-8:hover {
  background-color: #ff4342;
}

.slide-9:hover {
  background-color: #abd2ef;
}

.slide-10:hover {
  background-color: #7cadd5;
}

.slide-11:hover {
  background-color: #625efb;
}

.slide-12:hover {
  background-color: #7cadd5;
}

/* @media (min-width: 1401px) and (max-width: 1450px) {
  .solutionCard {
    width: 480px;
  }

  .solutionCard .arrowIcon {
    width: 60px;
    height: 60px;
  }
} */

@media (min-width: 0px) and (max-width: 1800px) {
  /* .solutionCard {
    width: 470px;
  } */

  .solutionCard .arrowIcon {
    width: 60px;
    height: 60px;
  }
}